.center-image {
   position:relative;
   display: block;
  margin: auto;
   object-fit: fill;

  margin-top: 170px;
  
}
.center-mage {
   display: block;
  margin: auto;
  margin-top: 0%;
  margin-left: 60px;
  
}
.shake-img{
  animation:shake 5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translateX(0)rotate(1deg); }
  25% { transform: translateX(-5px)rotate(-1deg); }
  50% { transform: translateX(5px)rotate(1deg); }
  75% { transform: translateX(-5px)rotate(-1deg); }
  100% { transform: translateX(0)rotate(1deg); }
}
 
.outfit-uniquifier {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 70PX;
  color: #ffffff;
  position: absolute;
  bottom: 60px;
  left: 170px;

  -webkit-text-stroke: .24px #ea6065;
  background: -webkit-linear-gradient(left,#fc0071, #8e212a);
  -webkit-background-clip: text;
  text-shadow: 0 0 10px #99152b;
  text-shadow: 0 0 10px #99152b;
  
  -webkit-text-fill-color: transparent;
  
}



  .top-img {
    position: absolute;
  
     width: 90vw;      /* 100% of viewport width */
      height:100vh;     /* 100% of viewport height */
    object-fit: fill;
    display: block;   
    
    top: 0px;   /* Distance from the top of the container */
    left: 0px;  /* Distance from the left of the container */
   
  }




